body{
    background-color: aqua;
}

nav{
    top:0px;
    position:fixed;
    background-color: #f30c9a;
}

.align{
    width:95rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

#line{
    display: flex;
}

#line li{
    margin-right: 30px;
    color:white;
    font-size: 20px;
}